BODY { background: #addf16; margin: 0; }
   .layout { width: 970px; margin: 0 auto 10px; background: #de7a7a; }
   .content { margin-right: 350px; padding: 10px; }
   .sidebar { width: 320px; float: right; background: #dae1c2; }
   .footer {
    clear: both; /* Отмена обтекания */
    border-top: 1px solid #f636a9; padding: 10px;
   }
